/* Angular Material theme */
@use '@angular/material' as mat;
@include mat.core();

// /* Tailwind layers first */
// @import "@angular/cdk/overlay-prebuilt.css";

// @tailwind base;
// @tailwind components;
// @tailwind utilities;


// $theme: mat.define-theme();
// @include mat.all-component-themes($theme);

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

:root {
    --mat-table-background-color: #fff !important;
    --mat-paginator-container-background-color: #fff !important;
    --mat-option-selected-state-layer-color: #fff !important;
    --mat-select-panel-background-color: #fff !important;
    --mat-paginator-container-text-size: 14px !important;
    --mat-form-field-outlined-focus-outline-color: #80747c !important;
    --mat-form-field-container-text-font: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    --mat-paginator-container-text-font: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    --mat-select-trigger-text-font: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    --mat-option-label-text-font: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    --mat-sys-title-small-font: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    --mat-sys-body-medium-font: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

::ng-deep .mat-mdc-table,
.custom-font-table {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.mat-mdc-header-cell{
    font-weight: 700 !important;
}

.mdc-data-table__row:last-child>.mat-mdc-cell{
    border-bottom: 1px solid #ddd !important;
    padding: 0.5rem;
}