.kpi-cards {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filters select,
.filters button {
  padding: 0.3rem 0.5rem;
}

.charts {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.chart {
  flex: 1 1 45%;
}

.full-width-table {
  width: 100%;
}

.center {
  text-align: center;
}

.table {
  margin-top: 2rem;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.table-card {
  padding: 1rem;
  border-radius: 12px;
}


td.center, th.center {
  text-align: center;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0.5rem;
}

.low-stock {
  background-color: #edc6c6;
  font-weight: bold;
}

.mat-mdc-row{
  height: 25px;
}

.mat-mdc-header-row{
  height: 30px;
}