<h1>Inventory Dashboard</h1>

<!-- KPI Cards -->
<div class="kpi-cards">
  <div class="card">
    <h3>Total Warehouses</h3>
    <p style="font-size: 20px; font-weight: 500;">{{ dashboardSummary()?.totalWarehouses }}</p>
  </div>
  <div class="card">
    <h3>Total Products</h3>
    <p style="font-size: 20px; font-weight: 500;">{{ dashboardSummary()?.totalProducts }}</p>
  </div>
  <div class="card">
    <h3>Total Stock</h3>
    <p style="font-size: 20px; font-weight: 500;">{{ dashboardSummary()?.totalProductStock }}</p>
  </div>
</div>

<!-- Filters -->
<!-- <div class="filters">
  <label>Warehouse:
    <select [(ngModel)]="selectedWarehouse" (change)="applyFilters()">
      <option value="">All</option>
      <option *ngFor="let w of data?.warehouses" [value]="w.WarehouseID">{{ w.WarehouseName }}</option>
    </select>
  </label>

  <label>Category:
    <select [(ngModel)]="selectedCategory" (change)="applyFilters()">
      <option value="">All</option>
      <option *ngFor="let c of categories">{{ c }}</option>
    </select>
  </label>

  <label>Stock Status:
    <select [(ngModel)]="selectedStatus" (change)="applyFilters()">
      <option value="">All</option>
      <option value="low">Low Stock</option>
      <option value="ok">OK</option>
    </select>
  </label>

  <button (click)="refreshData()">Refresh</button>
</div> -->

<!-- Charts -->
<div class="charts">
  <div class="chart card">
    <h3>Stock per Warehouse</h3>
    <apx-chart [series]="barChartOptions.series" [chart]="barChartOptions.chart" [xaxis]="barChartOptions.xaxis">
    </apx-chart>
  </div>

  <div class="chart card">
    <h3>Stock per Category</h3>
    <apx-chart [series]="pieChartOptions.series" [chart]="pieChartOptions.chart" [labels]="pieChartOptions.labels"
      [responsive]="pieChartOptions.responsive">
    </apx-chart>
  </div>
</div>

<div class="mat-elevation-z8 table card">
  <h3>Low Stock Alerts</h3>

  <table mat-table [dataSource]="dataSource" matSort class="custom-font-table">

    <ng-container matColumnDef="warehouse">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Warehouse </th>
      <td mat-cell *matCellDef="let row"> {{row.warehouse}} </td>
    </ng-container>

    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
      <td mat-cell *matCellDef="let row"> {{row.product}}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th class="center" mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
      <td class="center" mat-cell *matCellDef="let row" [class.low-stock]="row.quantity <= row.reorderLevel"> {{row.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="reorderLevel" >
      <th class="center" mat-header-cell *matHeaderCellDef mat-sort-header> Reorder Level </th>
      <td class="center" mat-cell *matCellDef="let row"> {{row.reorderLevel}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<!-- Low Stock Alerts Table -->
 <ng-template #loading>
  <p>Loading inventory...</p>
</ng-template>
