<h1>Inventory Dashboard</h1>

<!-- KPI Cards -->
<div class="kpi-cards">
  <div class="card">
    <h3>Total Warehouses</h3>
    <p style="font-size: 20px; font-weight: 500;">{{ dashboardSummary()?.totalWarehouses }}</p>
  </div>
  <div class="card">
    <h3>Total Products</h3>
    <p style="font-size: 20px; font-weight: 500;">{{ dashboardSummary()?.totalProducts }}</p>
  </div>
  <div class="card">
    <h3>Total Stock</h3>
    <p style="font-size: 20px; font-weight: 500;">{{ dashboardSummary()?.totalProductStock }}</p>
  </div>
</div>

<!-- Filters -->
<!-- <div class="filters">
  <label>Warehouse:
    <select [(ngModel)]="selectedWarehouse" (change)="applyFilters()">
      <option value="">All</option>
      <option *ngFor="let w of data?.warehouses" [value]="w.WarehouseID">{{ w.WarehouseName }}</option>
    </select>
  </label>

  <label>Category:
    <select [(ngModel)]="selectedCategory" (change)="applyFilters()">
      <option value="">All</option>
      <option *ngFor="let c of categories">{{ c }}</option>
    </select>
  </label>

  <label>Stock Status:
    <select [(ngModel)]="selectedStatus" (change)="applyFilters()">
      <option value="">All</option>
      <option value="low">Low Stock</option>
      <option value="ok">OK</option>
    </select>
  </label>

  <button (click)="refreshData()">Refresh</button>
</div> -->

<!-- Charts -->
<div class="charts">
  <div class="chart card">
    <h3>Stock per Warehouse</h3>
    <apx-chart [series]="barChartOptions.series" [chart]="barChartOptions.chart" [xaxis]="barChartOptions.xaxis">
    </apx-chart>
  </div>

  <div class="chart card">
    <h3>Stock per Category</h3>
    <apx-chart [series]="pieChartOptions.series" [chart]="pieChartOptions.chart" [labels]="pieChartOptions.labels"
      [responsive]="pieChartOptions.responsive">
    </apx-chart>
  </div>
</div>

<!-- Low Stock Alerts Table -->
<div class="table card">
  <h3>Low Stock Alerts</h3>
  <table>
    <thead>
      <tr>
        <th>Warehouse</th>
        <th>Product</th>
        <th>Stock</th>
        <th>Reorder Level</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of warehouseInventory()" [class.low-stock]="item.quantity <= item.reorderLevel">
        <td>{{ item.warehouse }}</td>
        <td>{{ item.product }}</td>
        <td class="center">{{ item.quantity }}</td>
        <td class="center">{{ item.reorderLevel }}</td>
      </tr>
    </tbody>
  </table>
</div>